.footer {
  top: 100px;
  width: 100%;
  position: relative;
  background-color: rgb(12, 150, 97);
  display: flex;
  color: white;
  flex-wrap: wrap;
  flex-direction: row;
  row-gap: 40px;
}

.footer .cards-footer {
  margin: auto;
  padding: 10px;
}

.cards-footer a {
  text-decoration: none;
  color: white;
}

.cards-footer img {
  width: 35px;
  height: 35px;
}

.cards-footer h4 {
  font-weight: bold;
  font-size: 20px;
}

.footer #copyright {
  position: relative;
  font-weight: bold;
  bottom: 25px;
}

#regua-footer {
  width: 95%;
  color: rgb(12, 150, 97);
}
