html {
  line-height: 1.6;
  font-family: "Source Sans Pro", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h5,
h6 {
  line-height: 1.2;
  color: #444444;
}

label {
  color: #444444;
}

p,
input,
textarea {
  color: #666666;
}

body {
  margin: 0 auto;
}
