.topo-1 {
  font-size: 20px;
  font-weight: 350;
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 97vw;
  padding: 20px 20px;
  background-color:rgba(255, 255, 255, 0.979);
  border: 0.02px solid #999;
  z-index: 1;
}

.link-topo {
  transition: 0.3s;
}

.link-topo:hover {
  color: rgba(52, 133, 52, 0.589);
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.topo-2 {
  text-transform: uppercase;
}

.topo-2 a {
  margin: 15px;
  transition: 0.3s;
}

.topo-2 a:hover {
  color: rgba(52, 133, 52, 0.589);
}

.link-topo {
  text-decoration: none;
  color: #444444;
}

.link-topo span {
  text-decoration: none;
  color: rgb(52, 133, 52);
  font-weight: 600;
}
