body {

    margin: 0 auto;
    font-family: 'Source Sans Pro', 'sans-serif';

}

.topo-1 {

    font-size: 20px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 96vmax;
    padding: 20px 20px;
    background-color: white;
    z-index: 1;

}

.link-topo {

    transition: 0.3s;

}

.link-topo:hover  {

    background-color: rgba(52, 133, 52, 0.589);
    color: white;
    padding: 16px 32px;
    border-radius: 1%;

}

.topo-2 {

    text-transform: uppercase;
    
}

.topo-2 a {

    margin: 15px;
    transition: 0.3s;

}

.topo-2 a:hover {
    
    background-color: rgba(52, 133, 52, 0.589);
    color: white;
    padding: 16px 32px;

}

.link-topo {

    text-decoration: none;
    color:black;

}

.link-topo span {

    text-decoration: none;
    color: blue;

}

.content {

}

.container-principal {

}

.container-1-fundo {

    background-image: url(/assets/img-fundo.jpg);
    background-repeat: no-repeat;
    width: 1600;
    height: 1000px;
    
}

.container-1-titulo {

    position: absolute;
    text-align: center;
    border-style: solid;
    border-radius: 1%;
    border-color: #ffff;
    background-color: rgba(52, 133, 52, 0.589);
    top: 40%;
    width: 40%;
    height: 25%;
    left: 25%;
    padding: 3%;
    
}

.container-1-titulo h1 {

    font-size: 50px;
    font-weight: 800;
    color: #ffff;

}

.container-1-titulo p {

    font-size: 25px;
    font-weight: 600;
    color: #ffff;

}

#container-1-cabecalho {



}

#container-1-paragrafo {

}

.container-2-titulo {
    
    position: inherit;
    text-align: center;
    padding: 25px 25px;
    
}

.container-2-titulo h2{

    font-size: 40px;
    font-weight: 300;
    text-transform: uppercase;
    
}


#quartos {

}

.container-3-quartos {

}

.container-4-rota {

}

#sobre {

}

.container-5-sobre {

}

.container-6-cards {

}

.pousada {

}

.quartos {

}

.alimentação {

}

.recepção {

}

.footer-externo {

}

.footer-interno {

}

.contato {

}

.endereço {

}

.telefone {

}

.reserva {

}

.footer-interno-2 {

}