body {
    margin: 0 auto;
    font-family: 'Source Sans Pro', 'sans-serif';

}

.topo-1 {
    position: fixed;
    display: flex;
    width: 1024px;
    text-align: center;
    padding: 20px 20px;
    background-color: white;
}

.topo-2 {

    text-transform: uppercase;

}

.link-topo {

    text-decoration: none;
    color:black;
}

.link-topo span {

    text-decoration: none;
    color: blue;

}

.content {

}

.container-principal {

}

.container-1-titulo {
    padding: 50px 50px;
    text-align: center;
    
}

.container-2-titulo {
    
}

#quartos {

}

.container-3-quartos {

}

.container-4-rota {

}

#sobre {

}

.container-5-sobre {

}

.container-6-cards {

}

.pousada {

}

.quartos {

}

.alimentação {

}

.recepção {

}

.footer-externo {

}

.footer-interno {

}

.contato {

}

.endereço {

}

.telefone {

}

.reserva {

}

.footer-interno-2 {

}