.btn .icone,
.btn .contador {
  user-select: none;
}

.btn .contador {
  position: relative;
  font-size: 30px;
  line-height: 3;
  bottom: 200px;
  text-align: right;
  right: 80px;
}

.btn .icone {
  position: relative;
  margin-top: 0px;
  margin: 0.5px solid #666;
}
